:root {
    --squareHoverColor: lightgreen;
}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .artist-image {
    width:20%;
    margin: 0px 10px 10px 10px;
  }